# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Conda environments
.env
.venv
env/
venv/

# Virtualenv
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Cython debug symbols
cython_debug/

# System files
.DS_Store
Thumbs.db
ehthumbs.db

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Environments
*.env
*.venv
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# Python Eggs
*.egg-info
.eggs/
*.egg

# PyInstaller
*.manifest
*.spec

# Coveralls Reports
.coverage

# PyBuilder
target/

# Sphinx documentation
docs/_build/

# Gradio cached examples
gradio_cached_examples/
